#
#         The configuration file is similar to the command line, with one option per line. An equal
#        sign '=' should be used between key and value. Example: -c=mynetwork or --community=mynetwork
#        This file contains a basic configuration example, please refer to the help (-h) for the full
#        list of available options.
#
#       -d|--tun-device
#        Specifies the name of the TUN interface. 
#
#-d=n2n0
#
#       -c|--community
#        Specifies the n2n community name the edge belongs to.
#
#-c=mycommunity
#
#       -k
#        Sets the encryption key (ASCII). The environment variable N2N_KEY=<key> can also be used. 
#
#-k=mypassword
#
#       -m
#        Specified the MAC address for the TAP interface (random otherwise).
#
# -m=DE:AD:BE:EF:99:99
#
#       -a
#        Sets the interface address. For DHCP use '-r -a dhcp:0.0.0.0'.
#
#-a=192.168.15.2/24
#
#       -p
#        Sets the local UDP port to a fixed port.
#
#-p=50001
#
#       -l|--supernode-list
#        Specifies the supernode IP and port.
#
#

-a={{ edge_address }}/24
-l=159.65.45.180:7777
-r 
-c=mycommunity
-d=n2n0
-k={{ edge_pass }}
-z1