{% for item in vpn_configs %}
{{ user_name }}     ALL=(ALL) NOPASSWD: /usr/sbin/service openvpn@{{ item }} status
{{ user_name }}     ALL=(ALL) NOPASSWD: /usr/sbin/service openvpn@{{ item }} start
{{ user_name }}     ALL=(ALL) NOPASSWD: /usr/sbin/service openvpn@{{ item }} stop

{% endfor %}